.header {
  height: 80px;
  background-color: #fff;
}
.header .header-top {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #1DA57A;
  margin-right: 30px;
}
.header .header-top h5 {
  margin: 0 5px 0;
}
.header .header-bottom {
  height: 40px;
  display: flex;
  align-items: center;
}
.header .header-bottom .header-bottom-left {
  position: relative;
  width: 25%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}
.header .header-bottom .header-bottom-left::after {
  content: '';
  position: absolute;
  right: 50%;
  bottom: -30px;
  transform: translateX(50%);
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top: 15px solid white;
}
.header .header-bottom .header-bottom-right {
  width: 75%;
  text-align: right;
  margin-right: 30px;
}
.header .header-bottom .header-bottom-right img {
  margin: 0 15px;
  width: 30px;
  height: 20px;
}
